@model  SoftBottin.Models.cmProductDetail
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}


<style>
    /*set a border on the images to prevent shifting*/
    #gallery_01 img {
        border: 2px solid white;
    }
    /*Change the colour*/

    .active img {
        border: 2px solid #333 !important;
    }
</style>

<div class="container" ng-controller="ShoppingCartCtrl" ng-init="newActv.name='@Model.sProductName'; newActv.price='$@Model.fPrice.ToString("N")'; newActv.description = '@Model.sDescription' ">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a class="glyphicon glyphicon glyphicon-arrow-left app-link" style="padding: 2em;" href="#/">
                Volver
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img id="zoom_03" class="img-responsive img-thumbnail" src='@Model.sPathImageSmall1' data-zoom-image='@Model.sPathImageLarge1' />
            </div>
            <div id="gallery_01">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="" data-image='@Model.sPathImageSmall1' data-zoom-image='@Model.sPathImageLarge1'>
                        <img class="img-responsive img-thumbnail" id="img_01" src="@Model.sPathImageSmall1" />
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="" data-image='@Model.sPathImageSmall2' data-zoom-image='@Model.sPathImageLarge2'>
                        <img class="img-responsive img-thumbnail" id="img_01" src='@Model.sPathImageSmall2' />
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="" data-image="@Model.sPathImageSmall3" data-zoom-image="@Model.sPathImageSmall3">
                        <img class="img-responsive img-thumbnail" id="img_01" src="@Model.sPathImageSmall3" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading app-h1">@Model.sProductName</h4>
                    <p class="list-group-item-text">

                    </p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading"></h4>
                    <p class="list-group-item-text">$@Model.fPrice.ToString("N")</p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Talla</h4>
                    <p class="list-group-item-text">
                        @Html.DropDownListFor(x => x.sSizeSelect, Model.slSizes,
                                                    new { @class = "form-control", ng_model = "newActv.size", required = "required" })
                    </p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Cantidad</h4>
                    <p class="list-group-item-text">
                        @Html.DropDownListFor(x => x.sQuantitySelect, Model.slQuantity,
                                                   new { @class = "form-control", ng_model = "newActv.quantity", required = "required" })
                    </p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Descripción</h4>
                    <p class="list-group-item-text">@Model.sDescription</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block">

                <span ng-click="addActv()" class="glyphicon glyphicon-shopping-cart app-glyphicon2 add-to-cart" onclick="addProductToShoppingCart('553046', 'Tacón Charol Rosa', '150000', 'black', '35')">
                    AGREGAR AL CARRITO
                </span>

                @*<span class="glyphicon glyphicon-gift app-glyphicon2" onclick="addProductToShoppingCart('553046', 'Tacón Charol Rosa', '150000', 'black', '35')">
                        Comprar
                    </span>*@
            </div>

        </div>
    </div>
    <ul>
        <li ng-repeat="actividad in shoe">


            {{actividad.name}}
            {{actividad.size}}
            {{actividad.quantity}}
            {{actividad.description}}
            {{actividad.price}}


        </li>
    </ul>
</div>

