
@{
    ViewBag.Title = "Response";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />

<h2>Response</h2>

@Request.Params["merchantId"]
<br />
@Request.Params["merchant_name"]
<br />
@Request.Params["merchant_address"]
<br />
@Request.Params["telephone"]
<br />
@Request.Params["merchant_url"]
<br />
@Request.Params["transactionState"]
<br />
@Request.Params["lapTransactionState"]
<br />
@Request.Params["message"]
<br />
@Request.Params["referenceCode"]
<br />
@Request.Params["transactionId"]
<br />
@Request.Params["description"]
<br />
@Request.Params["polTransactionState"]
<br />
@Request.Params["signature"]
<br />
@Request.Params["polResponseCode"]
<br />
@Request.Params["polPaymentMethod"]
<br />
@Request.Params["lapPaymentMethod"]
<br />
@Request.Params["polPaymentMethodType"]
<br />
@Request.Params["lapPaymentMethodType"]
<br />
@Request.Params["processingDate"]
<br />


